* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #0e1111;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.container {
    padding: 1rem;
}
nav, .contact-button {
    display: none;
}
header > div {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr {
    margin: 1rem auto;
    width: 60%;
}
.fa-bars {
    font-size: 2rem;
    color: #00719c;
}
#home {
    margin-top: 2rem;
}
.left-site {
    background: radial-gradient(circle, #00719c 0%, transparent 45%);
    text-align: center;
    font-size: 3rem;
    & h1 {
        font-family: 'Playfair Display', serif;
        margin-bottom: 1rem;
        & span {
            color: #00719c;
        }
    }
    & h2 {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    & p {
        text-align: left;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 16px;
        -webkit-box-shadow: 8px 8px 16px -6px #00719c;
        -moz-box-shadow: 8px 8px 16px -6px #00719c;
        box-shadow: 8px 8px 16px -6px #00719c;
        border: 1px solid #00719c;;
    }
    & img {
        margin: 1rem;
        border-radius: 50%;
    }
}
.socials {
    display: none;
}
.home-buttons-box {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
}
.button{
    border: 0;
    text-align: center;
    padding: 1rem;
    width: 9rem;
    margin: 0.5rem;
    color: #ffffff;
    background-color: #00719c;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
    cursor: pointer;
    }
.second {
    background-color: transparent;
    border: 2px solid #00719c;
}
.right-site {
    display: none;
}
.section-header {
    padding-top: 2rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    margin-bottom: 2rem;
}
#about {
    background-color: #00719c;
    padding-bottom: 2rem;
    background: radial-gradient(circle, #00b5fd 0%, #00719c 45%);

}
.about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-right {
    font-size: 1rem;
    text-align: left;
    & h2 {
        padding: 1rem 0rem;
    }
    & h2::before{
        content: "→";
        height: 10px;
        width: 10px;
        margin-right: 1rem;
    }
}
#skill {
    background: radial-gradient(circle, #00719c 5%, #0e1111 55%);

}
.skills-box > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: aqua;
    border-radius: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #ffffff46;
    width: 110px;
    height: 110px;
}
.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: #0e1111;
    border-radius: 100%;
    border: 5px solid #00719c;
}
.skill-dscr {
    padding: 3rem 0.5rem;
}
.skill-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    & h2 {
        margin-bottom: 1rem;
    }
}
#portfolio {
    background: radial-gradient(circle, #00b5fd 0%, #00719c 45%);
}
.portfolio-container {
    display: flex;
    justify-content: center;
    & div:last-child {
        text-align: left;
        padding: 1rem;
        & h2 {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            & a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}
.contact-form {
    margin: auto;
    padding: 1rem;
    width: 80%;
}
.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 1rem;
    border-radius: 5px;
    line-height: 22px;
    background-color: #0e1111;
    border:2px solid #00719c;
    transition: all 0.3s;
    padding: 0.8rem;
    margin-bottom: 15px;
    width:100%;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #00b5fd; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
form > .button {
    margin: auto;
}
.contact-dscr {
    padding: 1rem;
}
#contact {
    background: rgb(0,113,156);
    background: linear-gradient(144deg, rgba(0,113,156,1) 0%, rgba(14,17,17,1) 67%);}
.footer {
    padding: 0.8rem 1rem ;
    background-color: #151a1a;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}
.socials-contact {
    text-align: center;
    width: 90%;
}
.socials-contact > a {
padding-left: 2rem;
font-size: 1.5rem;
color: #fff;
}

@media (min-width: 700px) {
    .container {
        margin: auto;
        max-width: 70%;
    }
}
@media (min-width: 1024px) {
    header > div >a {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        width: 70%;
    }
    header > div{
        display: flex;
        justify-content: space-between;
    }
    .navbar > ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .navbar > ul > li {
        list-style-type: none;
        padding: 1.8rem;
        padding-left: 0;
        font-size: 1.4rem;
        & a {
            color: #fff;
            text-decoration: none;
            transition: all 0.5s;
        }
        & a:hover, a:active {
            color: #00719c;
            text-decoration: underline;
        }
    }
    .contact-button {
        display: none;
    }
}
@media (min-width: 1230px) {
    .contact-button {
        display: block;
    }
    #header {
        background: linear-gradient(50deg, #0e1111 50%, #151a1a 50.1%);    
    }
    .home-box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .headhr {
        margin: 1rem;
    }
    .left-site {
        text-align: left;
        width: 60%;
        background: transparent;  
        & p {
            width: 70%;
            height: auto;
            margin: 5rem 0;
            padding: 2rem;
        }
        & img {
            display: none;
        }
    }
    .socials {
        position: absolute;
        left: 8rem;
        top: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        & a {
            color: #fff;
            transition: all 0.4s;
        }
        & a:hover {
            color: #00719c;
            transform: scale(1.2);
        }
    }
    .socials-contact {
        display: none;
    }
    .right-site {
        display: block;
        width: 40%;
        & img {
            width: 250px;
            height: auto;
            border-radius: 50%;
            -webkit-box-shadow: 8px 8px 70px 25px #00719c;
            -moz-box-shadow: 8px 8px 70px 25px #00719c;
            box-shadow: 8px 8px 70px 25px #00719c;
        }
    }
    .contact-dscr {
        width: 80%;
        margin: auto;
    }
    .about-box {
        display: flex;
        flex-direction: row;
    }
    .about-right {
        width: 60%;
    }
    .about-left {
        width: 30%;
    }
    .portfolio-container {
        width: 80%;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        & div > a > img {
            width: 300px;
        }
    }
    .portfolio-container > div:last-child {
        width: 50%;
        & h2 {
            text-align: left;
        }
    }
}